@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
