.home-page-wrapper {
  .home-page-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
    img {
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover; /* 保持原始宽高比，裁剪多余部分 */
      object-position: center; /* 将图片放在img元素的中心 */
      z-index: -1;
    }
    .banner-wave1 {
      position: absolute;
      height: 84px;
      width: 200%;
      bottom: 0;
      z-index: 2;
      background: url('@/assets/bannerWave1.png') repeat-x;
    }
    .banner-wave2 {
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 400%;
      z-index: 1;
      background: url('@/assets/bannerWave2.png') repeat-x;
    }
    .banner-wave1,
    .banner-wave2 {
      animation: homePageWave 100s linear infinite;
    }

    @keyframes homePageWave {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }
  }

  .home-page-content {
    background-color: rgb(var(--v-theme-background));
    padding: 50px 0 100px;
    .page-content {
      display: flex;
      margin: auto;
      width: 90%;
      padding: 0 50px;
      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .avatar-content {
          width: 100%;
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(
            to left top,
            #e89fc9,
            #db9fd3,
            #cca1db,
            #baa3e2,
            #a5a5e6,
            #93acec,
            #7fb3ef,
            #6cb9ef,
            #5dc5f0,
            #58d0ec,
            #60dae5,
            #73e3dc
          );
        }
        h2 {
          font-weight: bold;
          font-family: Comic Sans MS;
        }
        .contact-type-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          .contact-type-item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
